.link {
    text-decoration: none;
}
.list {
    list-style: none;
}
.inter:hover,
.inter:focus {
    color: var(--color-ocean);
}
:root {
    --main-font-family: 'Roboto',sans-serif;
    --second-font-family: 'Raleway',sans-serif;
    --color-iris: #4d5ae5;
    --color-navy-blue: #2e2f42;
    --color-slate: #434455;
    --color-cloud: #f4f4fd;
    --color-white: #ffffff;
    --color-ocean: #404BBF;
}
/* studio */
body {
    font-family: var(--main-font-family);
    color: var(--color-slate);
    background-color:var(--color-white);
}
/* Logo studio */
.logo-web-studio {
    color: var(--color-navy-blue);
}
.logo-link {
    font-family: var(--second-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: var(--color-iris);
}
/* Navigation on studio */
.menu-link {
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
.address {
    font-style: normal;
}
.address-link {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}
/* Hero */
.hero-title {
    font-weight: 700;
    font-size: 56px;
    text-align: center;
    line-height: 1.07; 
    letter-spacing: 0.02em;
    color: var(--color-white);
}
.hero {
    background: var(--color-navy-blue);
}
.hero-btn-studio {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-white);
    background: var(--color-iris);
    cursor: pointer;
}
.hero-btn-studio:hover,
.hero-btn-studio:focus {
    background: var(--color-ocean);
}
/* Hidden title */
.hide {
    visibility: hidden;
}
/* Section 1 */
.first-sec-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
.first-sec-parag {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}
/* Section 2 */
.second-sec {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}
/* Section 3 */
.third-sec {
    background: var(--color-cloud);
}
.third-sec-title {
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
    color: var(--color-navy-blue);
}
.list-team {
    background-color: var(--color-white);
}
.third-sec-name {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
.third-sec-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}
/* Footer */
.footer {
    background: var(--color-navy-blue);
}
.logo-link-footer {
    font-family: var(--second-font-family);
    font-weight: 800;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color:var(--color-iris);
}
.logo-studio-footer {
    color:var(--color-cloud);
}
.logo-link-footer:hover,
.logo-link-footer:focus {
    color: var(--color-ocean);
}
.hero-btn {
    font-family: var(--main-font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: var(--color-iris);
    background: var(--color-cloud);
    cursor: pointer;
}
.hero-btn:hover,
.hero-btn:focus {
    color: var(--color-white);
    background: var(--color-ocean);
}
.portfolio-list-title {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: var(--color-navy-blue);
}
.portfolio-list-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-slate);
}
.footer-desc {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: var(--color-cloud);
}